body{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    -webkit-text-fill-color: rgb(0,0,0);
}

/* :root {
    --bg: white;
    --text: black;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: black;
      --text: white;
    }
  }
  
  #color-mode:checked ~ * {
    --bg: black;
    --text: white;
  }
  
  @media (prefers-color-scheme: dark) {
    #color-mode:checked ~ * {
      --bg: white;
      --text: black;
    }
  }
  
  .color-scheme-wrapper {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
  }
  
  .light-mode-hide {
    display: none;
  }
  
  @media (prefers-color-scheme: dark) {
    .dark-mode-hide {
      display: none;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .light-mode-hide {
      display: initial;
    }
  } */

#top {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* padding-bottom: 3vh; */

}

.navbar {
    display: flex;
    justify-content: center;
    gap: 25vw;
    padding-top: 4vh;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    
}

#navbar-text {
    font-weight: 400;
    font-size: 2vh;

}

#main {
    margin-top: 30vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

h1 {
    font-family: "Archivo", sans-serif;
    font-size: 10vh;
    font-weight: 400;
    color: rgb(233, 233, 228);
}

#sub-main {
    margin-left: 10vw;
    margin-top: 5vh;
    max-width: 40vw;

}

#credential {
    margin-bottom: 5vh;
    margin-left: 10vw;
    margin-top: 20vh;
    margin-right: 10vw;

}

h2 {
    font-family: "Archivo", sans-serif;
    font-size: 2.5vh;
    font-weight: 200;
    color: rgb(0, 0, 0);
    line-height: 160%;

}

#tag {
    font-family: "Archivo", sans-serif;
    font-size: 2vh;
    font-weight: 200;
    color: rgb(233, 233, 228);
    margin: 0;
    line-height: 160%;
}

#hover01:hover {
    font-style: italic;
}

img {
    width: 35vw;
    height: auto;
    /* border-radius: 0.5vw; */
  }

#project-top {

    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    gap: 55vw;
    background-color: rgb(255, 255, 255);
}

#project-top-text {
    margin-bottom: 0;
    font-size: 6vh;
    padding-top: 3vh;
}

.line {
    height: 0.1vh;
    max-width: 90vw; 
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(233, 233, 228);
}



#project-card {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 10vw;
    margin-top: 5vh;

}

#project-card-text {
    display: flex;
    flex-direction: column;
    max-width: 35vw;

}



#project-card-text-head {
    font-size: 6vh;
}

.project-scroll {
    margin-top: 45vh;
}

@media only screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    .navbar {

        flex-direction: column;
        gap: 1vh;
        padding-left: 70vw;
        padding-bottom: 6vh;
        margin: 0;
    }

    #project-top {
        padding-top: 2vh;
        gap: 5vw

    }

    #navbar-text {
        font-size: 1.8vh;
        margin: 0;
    }

    #main {
        margin-top: 10vh;
        max-width: 60vw;
    }

    #sub-main {
        max-width: 65vw;
        margin-right: 0;
    }

    h1 {
        font-size: 5vh;
    }

    h2 {
        font-size: 2vh;
    }

    #project-top-text {
        font-size: 4vh;
        padding: 0;
        margin-top: 0;

    }

    #project-card {
        flex-direction: column;
        /* margin-top: 20vh; */
        
    }

    #project-card-text-head {
        font-size: 4vh;
    }

    #project-card-text {
        max-width: 70vw;
    }

    img {
        width: 70vw;
        height: auto;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    #project-top {
        justify-content: center;
        gap: 25vw;
        /* padding-right: 10vw; */
    }

    #project-top-text {
        font-size: 4vh;
        

    }

    #project-card-text {
        max-width:60vw;
        margin-left: auto;
        margin-right: auto;

    }

    #project-card {
        flex-direction: column;
        /* margin-top: 20vh; */
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        gap: 3vh;
        
    }

    #project-card-text-head {
        font-size: 3vh;
        margin: 0;
        padding: 0;
        
    }

    img {
        width:60vw;
    }

    .project-scroll {
        margin-top: 45vh;
    }

    #sub-main {
        max-width: 65vw;
    }

    #main {
        margin-top: 15vh;
    }

    h1{
        font-size: 4vh;
    }

    h2 {
        font-size: 2vh;
    }

}
